apiVersion: v2
name: sscs-tribunals-api
home: https://github.com/hmcts/sscs-tribunals-case-api
version: 0.0.214
description: SSCS Tribunals Case API
maintainers:
  - name: HMCTS SSCS Team
dependencies:
  - name: postgresql
    version: 1.1.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: postgresql.enabled
  - name: java
    version: 5.3.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: java.enabled
  - name: job
    version: 2.2.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: job.enabled
  - name: xui-webapp
    version: 1.0.30
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: xui-webapp.enabled
  - name: ccd
    version: 9.2.2
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: ccd.enabled
    tags:
      - sscs-ccd-idam-pr
  - name: sscs-tribunals-frontend
    version: 0.2.53
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: sscs-tribunals-frontend.enabled
  - name: redis
    version: 20.13.4
    repository: "oci://registry-1.docker.io/bitnamicharts"
    condition: redis.enabled
  - name: em-ccdorc
    version: 2.1.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: em-ccdorc.enabled
  - name: em-stitching
    version: 1.1.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: em-stitching.enabled
  - name: ccd-case-document-am-api
    version: 1.7.17
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: ccd-case-document-am-api.enabled
  - name: servicebus
    version: 1.2.1
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: servicebus.enabled
  - name: servicebus
    version: 1.2.1
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: servicebus.enabled
    alias: hmcsb
  - name: aac-manage-case-assignment
    version: ~0.2.16
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: aac-manage-case-assignment.enabled
  - name: am-org-role-mapping-service
    version: 0.0.72
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: am-org-role-mapping-service.enabled
  # WA
  - name: camunda-bpm
    version: 0.0.48
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: wa.enabled
  - name: wa-task-management-api
    version: 0.1.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: wa.enabled
  - name: wa-task-monitor
    version: ~0.1.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: wa.enabled
  - name: wa-case-event-handler
    version: 0.1.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: wa.enabled
  - name: wa-workflow-api
    version: 0.1.1
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: wa.enabled
  #    initiation
  - name: wa-task-batch-service
    version: ~0.1.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    alias: wa-initiation-batch
    condition: wa.taskBatchCron.enabled
  #    reconfiguration
  - name: wa-task-batch-service
    version: ~0.1.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    alias: wa-reconfiguration-batch
    condition: wa.reconfigurationBatchCron.enabled
  #    termination
  - name: wa-task-batch-service
    version: ~0.1.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    alias: wa-termination-batch
    condition: wa.terminationBatchCron.enabled
  - name: wa-message-cron-service
    version: ~0.0.15
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: wa.enabled
  - name: ccd-message-publisher
    version: ~0.1.20
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: wa.enabled
  - name: sscs-cron-trigger
    version: 0.0.20
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: wa.enabled
  - name: ccd-def-cleanup
    version: ~9.0.4
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: ccd-def-cleanup.enabled
