apiVersion: v2
name: sscs-tribunals-api
home: https://github.com/hmcts/sscs-tribunals-case-api
version: 0.0.97
description: SSCS Tribunals Case API
maintainers:
  - name: HMCTS SSCS Team
dependencies:
  - name: java
    version: 4.0.12
    repository: https://hmctspublic.azurecr.io/helm/v1/repo/
  - name: idam-pr
    version: 2.2.6
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: idam-pr.enabled
  - name: xui-webapp
    version: 1.0.1
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: xui-webapp.enabled
  - name: sscs-evidence-share
    version: 0.0.46
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: sscs-evidence-share.enabled
  - name: sscs-ccd-callback-orchestrator
    version: 0.0.28
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: sscs-ccd-callback-orchestrator.enabled
  - name: ccd
    version: 8.0.23
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ccd.enabled
    tags:
      - sscs-ccd-idam-pr
  - name: sscs-tribunals-frontend
    version: 0.2.35
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: sscs-tribunals-frontend.enabled
  - name: redis
    version: 17.8.0
    repository: "https://charts.bitnami.com/bitnami"
    condition: redis.enabled
  - name: em-ccdorc
    version: 1.0.15
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: em-ccdorc.enabled
  - name: ccd-case-document-am-api
    version: 1.7.8
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ccd-case-document-am-api.enabled
  - name: sscs-hearings-api
    version: 0.0.29
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: sscs-hearings-api.enabled
  - name: hmc-cft-hearing-service
    version: 1.6.9
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: hmc-cft-hearing-service.enabled
  - name: servicebus
    version: 0.4.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: servicebus.enabled
