apiVersion: v2
name: sscs-tribunals-api
home: https://github.com/hmcts/sscs-tribunals-case-api
version: 0.0.129
description: SSCS Tribunals Case API
maintainers:
  - name: HMCTS SSCS Team
dependencies:
  - name: java
    version: 5.0.0
    repository: https://hmctspublic.azurecr.io/helm/v1/repo/
  - name: idam-pr
    version: 2.3.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: idam-pr.enabled
  - name: xui-webapp
    version: 1.0.9
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: xui-webapp.enabled
  - name: sscs-evidence-share
    version: 0.0.49
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: sscs-evidence-share.enabled
  - name: sscs-tya-notif
    version: 0.0.42
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: sscs-tya-notif.enabled
  - name: sscs-ccd-callback-orchestrator
    version: 0.0.31
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: sscs-ccd-callback-orchestrator.enabled
  - name: ccd
    version: 8.0.29
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ccd.enabled
    tags:
      - sscs-ccd-idam-pr
  - name: sscs-tribunals-frontend
    version: 0.2.38
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: sscs-tribunals-frontend.enabled
  - name: redis
    version: 17.17.1
    repository: "https://charts.bitnami.com/bitnami"
    condition: redis.enabled
  - name: em-ccdorc
    version: 2.0.10
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: em-ccdorc.enabled
  - name: ccd-case-document-am-api
    version: 1.7.11
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ccd-case-document-am-api.enabled
  - name: sscs-hearings-api
    version: 0.0.31
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: sscs-hearings-api.enabled
  - name: hmc-cft-hearing-service
    version: 1.6.14
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: hmc-cft-hearing-service.enabled
  - name: servicebus
    version: 1.0.4
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: servicebus.enabled
