apiVersion: v2
name: sscs-tribunals-api
home: https://github.com/hmcts/sscs-tribunals-case-api
version: 0.0.20
description: SSCS Tribunals Case API
maintainers:
  - name: HMCTS SSCS Team
dependencies:
  - name: java
    version: 3.2.0
    repository: https://hmctspublic.azurecr.io/helm/v1/repo/
