apiVersion: v2
name: sscs-tribunals-api
home: https://github.com/hmcts/sscs-tribunals-case-api
version: 0.0.94
description: SSCS Tribunals Case API
maintainers:
  - name: HMCTS SSCS Team
dependencies:
  - name: java
    version: 4.0.1
    repository: https://hmctspublic.azurecr.io/helm/v1/repo/
  - name: idam-pr
    version: 2.2.7
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: idam-pr.enabled
  - name: xui-webapp
    version: ~0.2.1
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: xui-webapp.enabled
  - name: elasticsearch
    version: 7.8.2
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: elastic.enabled
  - name: logstash
    version: 2.4.1
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: elastic.enabled
  - name: sscs-evidence-share
    version: 0.0.44
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: sscs-evidence-share.enabled
  - name: sscs-ccd-callback-orchestrator
    version: 0.0.26
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: sscs-ccd-callback-orchestrator.enabled
  - name: ccd
    version: 8.0.17
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ccd.enabled
    tags:
      - sscs-ccd-idam-pr
  - name: sscs-tribunals-frontend
    version: 0.2.26
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: sscs-tribunals-frontend.enabled
  - name: redis
    version: 15.7.6
    repository: "https://charts.bitnami.com/bitnami"
    condition: redis.enabled
  - name: em-ccdorc
    version: 1.0.15
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: em-ccdorc.enabled
  - name: ccd-case-document-am-api
    version: 1.7.3
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ccd-case-document-am-api.enabled
  - name: sscs-hearings-api
    version: 0.0.17
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: sscs-hearings-api.enabled
  - name: hmc-cft-hearing-service
    version: 1.6.5
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: hmc-cft-hearing-service.enabled
  - name: servicebus
    version: 0.4.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: servicebus.enabled
 
