java:
  image: 'hmctspublic.azurecr.io/sscs/tribunals-api:latest'
  applicationPort: 8080
  readinessPath: '/health/readiness'
  aadIdentityName: sscs
  ingressHost: sscs-tribunals-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  keyVaults:
    sscs:
      resourceGroup: sscs
      secrets:
        - sscs-email-mac-secret-text
        - idam-oauth-user
        - ccd-jid
        - ccd-tid
        - idam-redirect
        - idam-sscs-systemupdate-user
        - idam-sscs-systemupdate-password
        - idam-sscs-oauth2-client-secret
        - sscs-s2s-secret
        - s2s-micro
        - robotics-email-to
        - robotics-email-from
        - robotics-email-scottish-to
        - appeal-email-to
        - appeal-email-from
        - docmosis-endpoint
        - docmosis-api-key
        - AppInsightsInstrumentationKey
  secrets:
    HEARINGS_EVENT_SERVICE_BUS_CONNECTION_STRING:
      secretRef: servicebus-secret-queue-{{ .Release.Name }}-servicebus-tribunals-to-hearing-api
      key: connectionString
  environment:
    SERVER_PORT: 8080
    REFORM_TEAM: sscs
    REFORM_SERVICE_NAME: sscs-tribunals-api
    REFORM_SERVICE_TYPE: java
    REFORM_ENVIRONMENT: preview
    ROOT_LOGGING_LEVEL: INFO
    LOG_OUTPUT: single
    CREATE_CCD_ENDPOINT: false
    MAX_FILE_SIZE: "10MB"
    MAX_REQUEST_SIZE: "10MB"
    PDF_SERVICE_CONVERT_URL: https://docmosis.aat.platform.hmcts.net/rs/convert
    PDF_SERVICE_HEALTH_URL: https://docmosis.aat.platform.hmcts.net/rs/status
    DOCMOSIS_SERVICE_BASE_URL: https://docmosis.aat.platform.hmcts.net/rs/render
    PDF_SERVICE_ACCESS_KEY: ${PDF_SERVICE_ACCESS_KEY}
    DOC_ASSEMBLY_URL: "http://dg-docassembly-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
    IDAM_OAUTH2_REDIRECT_URL: "https://evidence-sharing-preprod.sscs.reform.hmcts.net"
    PDF_API_URL: "http://rpe-pdf-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
    CORE_CASE_DATA_API_URL: "http://ccd-data-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
    DOCUMENT_MANAGEMENT_URL: "http://dm-store-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
    IDAM_S2S_AUTH: "http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
    BULK_SCAN_URL: "http://sscs-bulk-scan-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
    IDAM_API_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
    IDAM_API_JWK_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net/jwks
    BUNDLE_URL: http://em-ccd-orchestrator-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    DM_GATEWAY_URL: https://manage-case.{{ .Values.global.environment }}.platform.hmcts.net
    CASE_DOCUMENT_AM_URL: "http://ccd-case-document-am-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
    SECURE_DOC_STORE_FEATURE: true
    WORK_ALLOCATION_FEATURE: true
    HEARINGS_EVENT_QUEUE_NAME: tribunals-to-hearing-api-{{ .Values.global.environment }}

idam-pr:
  enabled: false
xui-webapp:
  enabled: false
elastic:
  enabled: false
sscs-evidence-share:
  enabled: false
sscs-ccd-callback-orchestrator:
  enabled: false
sscs-tribunals-frontend:
  enabled: false
redis:
  enabled: false
ccd:
  enabled: false
em-ccdorc:
  enabled: false
servicebus:
  enabled: false
  teamName: sscs
  serviceplan: premium
  resourceGroup: sscs-{{ .Values.global.environment }}
  setup:
    queues:
      - name: tribunals-to-hearing-api
