java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  readinessDelay: 45
  restartPolicy: Never
  environment:
    PDF_API_URL: "http://rpe-pdf-service-aat.service.core-compute-aat.internal"
    CORE_CASE_DATA_API_URL: "http://ccd-data-store-api-aat.service.core-compute-aat.internal"
    DOCUMENT_MANAGEMENT_URL: "http://dm-store-aat.service.core-compute-aat.internal"
    IDAM_S2S_AUTH: "http://rpe-service-auth-provider-aat.service.core-compute-aat.internal"
    IDAM_API_URL: https://idam-api.aat.platform.hmcts.net
    IDAM_API_JWK_URL: https://idam-api.aat.platform.hmcts.net/jwks
    CREATE_CCD_ENDPOINT: true
    SECURE_DOC_STORE_FEATURE: true
    CASE_DOCUMENT_AM_URL: http://ccd-case-document-am-api-aat.service.core-compute-aat.internal
    WORK_ALLOCATION_FEATURE: true
    CASE_ACCESS_MANAGEMENT_FEATURE: true
    SCHEDULE_LISTING_FEATURE: true
