.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

sscs-ccd.xlsx
/releases/*
*/releases/*
*/output/*
.idea
sscs-ccd-definitions.iml
Change History.json
.DS_Store
/bin/venues.csv
/node_modules/
/sscs-ccd-e2e-tests/
