name: Diff CCD definition

on:
  pull_request:
    branches:
      - master

jobs:

  buildBranch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          path: build/branch
      - uses: actions/upload-artifact@v5
        with:
          name: branch
          path: build/branch/definitions/benefit/sheets/*

  buildMaster:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: master
          path: build/master
      - uses: actions/upload-artifact@v5
        with:
          name: master
          path: build/master/definitions/benefit/sheets/*

  report:
    runs-on: ubuntu-latest
    needs: [buildBranch, buildMaster]
    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - uses: actions/download-artifact@v5
        with:
          name: branch
          path: build/branch
      - uses: actions/download-artifact@v5
        with:
          name: master
          path: build/master
      - name: Generate report
        id: ccd-diff
        run: |
          npx -q @hmcts/ccd-diff build/master build/branch > report.txt
      - name: Display
        run: |
          cat report.txt
      - name: Add report
        uses: thollander/actions-comment-pull-request@v3
        with:
          file-path: report.txt
          comment-tag: CCD_diff_report
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
